extends layout.pug

append css
	style
		include css/main.css
	style.
		p{
			font-size:15px;
		}
		

block main
	.container
		.header
			nav
				ul.nav.nav-pills.pull-right(role="tablist")
					li.active(role="presentation")
						if state == "loggedOut"
							a(href="/login" class="btn btn-secondary btn-sm") Login
					
						if state == "loggedIn"
								button(class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") #{displayName} 
									span(class="caret")
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<li><a href="/newpoll">New Poll</a></li>
									<li><a href="/profile">Profile</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="/logout">Logout</a></li>
								</ul>

			a(href="/") 
				h3.text-muted codeVote
		.jumbotron
			h1 TheVotingApp!!! 
			h3.lead
				| VOTING APP FOR ALL CODING RELATED THINGS
			p.lead
				| Below are the polls hosted.
			p.lead
				| Select a poll to see the results and vote, or sign-in to make a new poll.

		//polls

		- var data = JSON.parse(polls);
		.row
			- data.forEach( function(element, index) {
				- if(index+1 % 2 !== 0)
					a(href="/polls/"+element._id)
						.col-sm-6
							.tile.blue
								h3.title #{element.question}
									p

									p #{element.author}, #{element.date}
				- if(index+1 % 2 == 0)
					a(href="/polls/"+element._id)
						.col-sm-6
							.tile.blue
								h3.title #{element.question}
									p #{element.author}
									p #{element.date}
			- });


		footer.footer
			p made by 
				a(href="" target="_blank") abhishek vishwakarma/kumar, deepak

	script(src="/public/js/jquery-2.2.2.js")
	script(src="/public/js/bootstrap.min.js")